@model PersonalFinance.WebApp.Model.Salario

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Salario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrigemGanho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrigemGanho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRecebimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRecebimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorBruto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorBruto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desconto1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desconto1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desconto2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desconto2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imposto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imposto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorLiquido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorLiquido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorAdicional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorAdicional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompetenciaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompetenciaId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
