@model IEnumerable<PersonalFinance.WebApp.Models.Usuarios>

@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Index";
}

<div>
    <h4>Lista de usuários</h4>
    @if(Model != null && Model.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Login)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Login)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Email)
                        </td>
                    </tr>
                }
        </tbody>
    </table>
    }
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
