@model PersonalFinance.WebApp.Model.ContaBancaria

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes da conta</h1>

<div>
    <h4>ContaBancaria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeBanco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeBanco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorConta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorConta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rendimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rendimento)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Voltar</a>
</div>
