@model IEnumerable<PersonalFinance.WebApp.Model.ContaBancaria>

@{
    ViewData["Title"] = "Index";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Lista</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Contas</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Contas Bancárias</h3>
                            <h3 class="left">Contas </h3>
                       </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            @if (Model != null && Model.Count() > 0)
                            {
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.NomeBanco)</th>
                                            <th>@Html.DisplayNameFor(model => model.ValorConta))</th>
                                            <th>@Html.DisplayNameFor(model => model.Rendimento)</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.NomeBanco)</td>
                                                <td>@Html.DisplayFor(modelItem => item.ValorConta)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Rendimento)</td>
                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.NomeBanco)</th>
                                            <th>@Html.DisplayNameFor(model => model.ValorConta))</th>
                                            <th>@Html.DisplayNameFor(model => model.Rendimento)</th>
                                            <th>Ações</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            }
                            else
                            {
                                <h3>Sem informações</h3>
                            }
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
