@model IEnumerable<PersonalFinance.WebApp.Model.Investimentos>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de investimentos</h1>

<p>
    <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-wrapper">
            @Html.ActionLink("Adicionar", "Create", "Investimentos", null, new { @class = "btn btn-brand btn-elevate" })
        </div>
    </div>
</p>
@if (Model != null && Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomeInvestimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorInvestido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rendimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataInvestimento)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomeInvestimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorInvestido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rendimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInvestimento)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>Sem informações</h3>
}